<html>
    <head>
        <link type="text/css" rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            {% block main %}

            {% endblock %}    
        </div>
        
    </body>
</html>