<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Challenge Title</th>
        <th>Challenge Description</th>
        <th>Challenge Duration</th>
        <th class="text-center">Task Tree</th>
        <th class="text-center">Delete challenge</th>
    </tr>
    <tr ng-repeat="challenge in challenges">
        <td>{{$index + itemsPerPage * (page - 1) + 1}}</td>
        <td><strong>{{challenge.title}}</td>
        <td>{{challenge.description}}</td>
        <td>{{challenge.duration}} Hours</td>
        <td class="text-center"><a ng-href="#!/challenges/{{challenge.id}}"><i class="fa fa-tree text-success"></i></a></td>
        <td class="text-center">
            <a ng-click="deleteChallenge(challenge.id)">
                <i class="fa fa-times-circle-o text-danger"></i>
            </a>
        </td>
    </tr>
</table>
<a class="btn btn-primary btn-block" ng-href="#!/challenges/new">Add New Challenge</a>

<div class="text-center" paging text-first="&laquo;" text-last="&raquo;" text-next="&rsaquo;" text-prev="&lsaquo;" text-title-page="Page {page}" text-title-first="First Page" text-title-last="Last Page hover title text" text-title-next="Next Page hover"
    text-title-prev="Previous hover" text-first-class="glyphicon glyphicon-backward" text-last-class="glyphicon glyphicon-forward" text-next-class="glyphicon glyphicon-chevron-right" text-prev-class="glyphicon glyphicon-chevron-left" page="page" page-size="itemsPerPage"
    total="total" paging-action="getMyChallenges(page)" show-prev-next="true" show-first-last="true">
</div>